@font-face
{
    font-family: "Raleway";
    src: url("./fonts/Raleway-Bold.ttf") format("truetype");
    src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Raleway Thin";
    src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");    
}

@font-face
{
    font-family: "Raleway Black";
    src: url("./fonts/Raleway-Black.ttf") format("truetype");
}

@font-face
{
    font-family: "Raleway SemiBold";
    src: url("./fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face
{
    font-family: "Raleway Medium";
    src: url("./fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face
{
    font-family: "Raleway Light";
    src: url("./fonts/Raleway-Light.ttf") format("truetype");
}

* 
{
    box-sizing: border-box;
}

body
{
    font-family: "Raleway", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}


                 /* Header */

header
{
    display: flex;
    justify-content: space-between;
    margin-right: 74px;
}

.logo
{
    height: 40px;
    margin: 52px 54px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

nav
{
    display: flex;
    margin-right: 74px;
}

.nav1
{
    display: flex;
}

nav a
{
font-style: normal;
font-size: 16px;
line-height: 19px;
align-items: center;
padding: 15px 40px 0 40px;
color: #0065FC;
text-decoration: none;
}

.slidetop1 
{
    padding-top:52px;
    font-weight:500;
    font-style: normal;
    font-size: 16px;
}

nav .slidetop1:hover
{
    border-top: solid 2px #0065FC;
}

nav .slidetop2:hover
{
    border-top: solid 2px #0065FC;
}

nav .inscription:hover
{
    border-top: solid 2px #0065FC;
}

nav a:hover
{
    color: #deebff;
}

.slidetop2
{
    padding-top: 52px;
}

.inscription
{
    padding-top: 51px;
    font-weight: 600;
    font-size: 17px;
}


              /* Search Section */

.search-section
{
    padding-left: 55px;
}

.search-section h1
{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 0 10px;
}

.search-section h2
{
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    margin: 10px 0 30px 10px;
}

.search
{
    display: flex;
    margin-left: 10px;
}

.search .fa-map-marker-alt
{
    background-color: #F2F2F2;
    width: 52px;
    height: 51px;
    border-radius: 15px 0 0 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search .fa-map-marker-alt::before
{
    position: absolute;
    padding: 17px 19px 20px 20px;
    width: 13px;
    height: 18px;
    font-size: 20px;
 }

.search input
{
    width: 234px;
    height: 51px;
    border: solid 2px #F2F2F2;
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::placeholder
{
    font-family: "Raleway-Bold", sans-serif;
    border: ;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-left: 13px;
}

.search .click-on
{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 500;
    border: none;
    background: #0065FC;
    color: white;
    width: 134px;
    height: 51px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search .click-on2
{
    display: none;
}

.filters
{
    position: relative;
    display: flex;
    margin-top: 49px;
}

.filters1
{
    position: relative;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    align-items: center;
    font-size: 18px;
    margin-right: 32px;
    margin-left: 12px;
}

.economic
{
    display: flex;
    align-items: center;
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    border-left: none;
    width: 192px;
    height: 50px;
    margin-left: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.economic p:hover
{
    color: #0065FC;
}

.bubble1{
    color: #0065FC;
    background: #deebff;
    border-radius: 50%;
    width: 50px;
    height: 50px;  
    padding:15px 13px 13px 13px;
    font-size: 20px;
}

.eco
{
    padding-left: 12px;
    margin: 0;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
 }

 .familial
 {
    display: flex;
    align-items: center;
    border: solid 3px #F2F2F2;
    border-radius: 50px;
    border-left: none;
    width: 146px;
    height: 50px;
    margin-left: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.familial p:hover
{
    color: #0065FC;
}

.bubble2
{
    color: #0065FC;
    background: #deebff;
    border-radius: 50%;
    width: 50px;
    height: 50px;  
    padding:15px 15px 15px 17px;
    font-size: 20px;
}


.fam
{
    padding-left: 12px;
    margin: 0;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
 }

 .romantic
 {
    display: flex;
    align-items: center;
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    border-left: none;
    width: 187px;
    height: 50px;
    margin-left: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.romantic p:hover
{
    color: #0065FC;
}

.bubble3
{
    color: #0065FC;
    background: #d3e5fd;
    border-radius: 50%;
    width: 50px;
    height: 50px;  
    padding:15px 18px 18px 15px;
    font-size: 20px;
}

.rom
{
    padding-left: 12px;
    margin: 0;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
 }

 .animal
 {
    display: flex;
    align-items: center;
    border: solid 3px #F2F2F2;
    border-radius: 50px;
    border-left: none;
    width: 243px;
    height: 50px;
    margin-left: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.animal p:hover
{
    color: #0065FC;
}

.bubble4
{
    color: #0065FC;
    background: #deebff;
    border-radius: 50%;
    width: 50px;
    height: 50px;  
    padding:13px 13px 13px 13px;
    font-size: 20px;
}

.ani
{
    padding-left: 12px;
    margin: 0;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
 }

 .fa-info
 {
    color: #0065FC;
    border: 1.5px solid #F2F2F2;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 3px 0 0 8px;
    margin-right: 12px;
}

.informations
{
    display: flex;
    align-items: baseline;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 25px 10px;
}


               /*  Main/accomodation */

.main 
{
    display: flex;
}

.accomodation h2
{
    font-family: "Raleway-Bold", sans-serif;
    padding: 32px 0 0 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}

.container1 h3
{
    display: flex;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0px 0 17px;
}

.container1 p
{
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    margin: 4px 0 0 16px;
}

.blue 
{
    color: #0065FC;
}

.grey
{
    color: #f2f2f2;
}

.fa-star  
{
    width: 12px;
    height: 12px;
    margin:0;
    margin-right: 2px;
    margin-bottom: 11px;
}

.first
{
    margin-left: 16px;
}

.fa-star:before 
{
    font-size: 12px;
}


.accomodation
{
    background: #F2F2F2;
    border-radius: 19px;
    width: 880px;
    height: 626px;
    margin: 0px 40px 0px 50px;
}

.container1
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 17px;
    grid-row-gap: 30px;
    margin-left: 36px;
    margin-right: 36px;
}

.container1 img:hover
{
    transform: scale(1.5);
}

.accomodation a
{
    text-decoration: none;
    color: black;
}

.card1 
{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card1 img
{
    width: 236px;
    height: 114px;
    background: url(cannebiere.jpg);
    border-radius: 13px 13px 0px 0px;
    margin: 5px 5px 5px 5px;
}

.card2 
{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card2 img
{
    width: 236px;
    height: 114px;  
    background: url(port.jpg);
    border-radius: 13px 13px 0px 0px;
    margin: 5px 5px 5px 5px;
}

.card3
{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card3 img
{  
    width: 236px;
    height: 114px;
    background: url(mouettes.jpg);
    border-radius: 13px 13px 0px 0px;
    margin: 5px 5px 5px 5px;
}

.card4
{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card4 img
{
    width: 236px;
    height: 114px;
    background: url(mer.jpg);
    border-radius: 13px 13px 0px 0px;
    margin: 5px 5px 5px 5px;
}

.card5 
{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card5 img 
{
    width: 236px;
    height: 114px;
    background: url(mer.jpg);
    border-radius: 13px 13px 0px 0px;
    margin: 5px 5px 5px 5px;
}

.card6 
{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card6 img
{
    width: 236px;
    height: 114px;
    background: url(amina.jpg);
    border-radius: 13px 13px 0px 0px;
    margin: 5px 5px 5px 5px;
}

.more 
{
    margin: 41px 0 43px 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}


          /* Main-Aside-Mostpopular */


.popular
{
    background: #F2F2F2;
    border-radius: 19px;
    width: 420px;
    height: 626px;
    margin-left: 40px;
    margin-right: 50px;
}

.popular
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 33px;
    margin-left: 36px;
    margin-right: 36px;
}

.popular h2
{
    font-family: "Raleway-Bold", sans-serif;
    padding: 32px 0 0 37px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}

.mostpopular
{
    display: flex;
}
.fa-map-chart-line::before
{ 
    width: 22px;
    height: 18px;
    font-size: 20px;
  
 }

.soleilmatin
{
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.soleilmatin img
{
    width: 127px;
    height: 134px;
    background: url(cannebiere.jpg);
    border-radius: 13px 0px 0px 13px;
    margin: 5px 5px 5px 5px;
}

.coeureau
{
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.coeureau img 
{   
    width: 127px;
    height: 134px;
    background: url(coeureau.jpg);
    border-radius: 13px 0px 0px 13px;
    margin: 5px 5px 5px 5px;
}

.bleublanc
{
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.bleublanc img 
{   
    width: 127px;
    height: 134px;
    background: url(bleublanc.jpg);
    border-radius: 13px 0px 0px 13px;
    margin: 5px 5px 5px 5px;
}
        
    
    
    